# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Mac
.DS_Store

# IDEs
.vscode/
.idea/
*.iml
